<% if header.present? %>
  <div class="jumbo highlight">
    <div class="row">
      <div class="small-12 image-preview small-centered">
        <figure>
          <%= image_tag(image_path_for("banner_plano.png"), class: "", alt: "Participa") %>
        </figure>
      </div>
  
      <div class="small-12">
        <div class="small-12 medium-3 small-centered">
          <%= link_to t("layouts.header.proposals"), proposals_path, class: "button expanded large" %>
        </div>
      </div>
    </div>
  </div>
  <div class="background-header"></div>
<% end %>
