<div class="small-12 medium-4 large-4 column hover-contenedor">
  <div class="contenedor-2">
    <% if proposal.image.present? %>
      <div class="contenedor-4">
          <%= image_tag proposal.image_url(:thumb), class: "", alt: proposal.image.title.unicode_normalize %>
      </div>
    <% end %>
    <div class="small-12 column contenedor-3">
      <span class="icon-middle"><i class="fas fa-users"></i></span>
      <strong><%= proposal.title %></strong>
    </div>
    <div class="small-12 column contenedor-5">
      <span class="icon-middle-2"><i class="fas fa-users"></i></span>
      <p class="text-p-go"><%= proposal.summary %></p>
      <%= link_to "Saber más", url_for(proposal), class: "link-p-go" %>
    </div>
  </div>
</div>
